<div class="cart-content space-y-12">
    <% if (user && user.cart && user.cart.length > 0) { %>
        <% user.cart.forEach(function(item, index){ %>
            <div class="cart-item flex justify-between items-center bg-white p-6 rounded-xl shadow-xl hover:shadow-2xl transition-transform transform hover:scale-105 hover:shadow-2xl duration-300 animate__animated animate__fadeInUp" style="animation-delay: <%= index * 0.1 %>s;">
                <div class="flex items-center space-x-8">
                    <div class="cart-image overflow-hidden rounded-lg shadow-md">
                        <img src="data:image/jpeg;base64,<%= item.image.toString('base64') %>" alt="" class="object-cover w-24 h-24 transform transition duration-300 hover:scale-110">
                    </div>
                    <div>
                        <h3 class="text-xl font-semibold text-gray-800 hover:text-indigo-600 transition duration-300"><%= item.name %></h3>
                        <p class="text-sm text-gray-500 mt-2">Rs <%= item.price + 20 - item.discount %></p>
                    </div>
                </div>
                <div class="flex items-center space-x-6">
                    <form action="/remove-from-cart" method="POST">
                        <input type="hidden" name="itemId" value="<%= item._id %>">
                        <button type="submit" class="text-red-500 hover:text-red-600 text-lg transform transition duration-300">✖</button>
                    </form>
                    <button class="px-6 py-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition duration-300 transform hover:scale-110">Update</button>
                </div>
            </div>
        <% }) %>

        <!-- Total and Checkout Section -->
        <div class="p-8 mt-16 bg-blue-600 rounded-xl shadow-xl">
            <div class="flex justify-between items-center">
                <h3 class="text-3xl font-semibold text-white">
                    Total: Rs <%= bill %>
                </h3>
                <button class="px-12 py-3 bg-white text-blue-600 text-xl font-semibold rounded-full hover:bg-blue-500 hover:text-white transform transition duration-300 ease-in-out hover:scale-105 shadow-lg">
                    Proceed to Checkout
                </button>
            </div>
        </div>
    <% } else { %>
        <p class="text-gray-600 text-lg text-center">Your cart is empty.</p>
    <% } %>
</div>
